#content #orders {
        width: 100%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 10px;
        .order {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            border: 0.5px solid rgba(128, 128, 128, 0.386);
            border-radius: 6px;
            padding: 8px;
            .order-head {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
                position: relative;
                button.bar {
                    width: 2.5%;
                    border: 0;
                    background-color: rgba(128, 128, 128, 0.266);
                    padding: 8px;
                    font-size: 20px;
                    border-radius: 50%;
                }
                .bars {
                    width: 150px;
                    border: 0.5px solid gray;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 45px;
                    top: -75px;
                    background-color: white;
                    padding: 8px;
                    border-radius: 10px 10px 0 10px;
                    gap: 10px;
                    visibility: hidden;
                    li {
                        button {
                            font-size: 15px;
                            border: 0;
                            background-color: white;
                            color: gray;
                            &:hover {
                                color: var(--green);
                            }
                        }
                    }
                }
                .bars.active {
                    visibility: visible;
                }
            }
            .order-aside {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                align-items: center;
                display: flex;
                border-radius: 6px;
                border: 0.5px solid rgba(128, 128, 128, 0.386);
                ul {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    gap: 20px;
                    li {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        color: gray;
                        span {
                            font-size: 18px;
                            color: black;
                        }
                    }
                }
            }
            .order-body {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                padding: 10px;
                .product {
                    width: 48%;
                    display: flex;
                    gap: 10px;
                    border: 0.5px solid rgba(128, 128, 128, 0.303);
                    border-radius: 10px;
                    height: 150px;
                    padding: 5px;
                    .product-start {
                        border-radius: 10px;
                        width: 30%;
                        height: 100%;
                        background-color: rgba(128, 128, 128, 0.189);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px 5px;
                        height: 100%;
                        overflow: hidden;
                        img {
                            width: 60%;
                            object-fit: contain;
                            border-radius: 10px;
                        }
                    }
                    .product-end {
                        width: 68%;
                        display: flex;
                        flex-direction: column;
                        padding: 10px 0;
                        word-wrap: break-word;
                        justify-content: center;
                        .link {
                            font-size: 18px;
                            &:hover {
                                color:  var(--green);
                            }
                        }
                        ul {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            font-size: 13px;
                            padding: 10px 0;
                            gap: 5px;
                            li {
                                word-wrap: break-word;
                            }
                        }
                    
                    }
                }
                
            }
            .type {
                width: 100%;
                margin-top: 6px;
                text-align: center;
                background-color: rgb(255, 0, 68);
                padding: 8px;
                border-radius: 8px;
                color: white;
            }
            p.waiting {
                background-color: gray;
            }
            p.delivered {
                background-color: rgb(0, 183, 0);
            }
            p.process {
                background-color: orange;
            }
            .order-footer {
                width: 100%;
                border: 0.5px solid rgba(128, 128, 128, 0.386);
                border-radius: 6px;
                padding: 20px;
                gap: 10px;
                h4 {
                    font-size: 20px;
                }
                .about {
                    margin-top: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .table {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        font-size: 14px;
                        .value {
                            color: gray;
                        }
                    }
                }
            }
        }
    }
